.button {
  background-color: red;
  color: azure;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 100%;
  border: 1px crimson;
  border-radius: 28px;
  font-weight: 500;
}
.butten-success {
  background-color: rgb(255, 255, 255);
  border-color: rgb(59, 40, 203);
}
.butten-warning {
  background-color: darkorange;
  border-color: burlywood;
}
.button-danger {
  background-color: red;
  border-color: brown;
}
.button:hover {
  background-color: aqua;
}
button:focus {
  background-color: aquamarine;
}
button:active {
  background-color: aqua;
}
.butten-warning:hover {
  background-color: gainsboro;
}
.butten-success:hover {
  background-color: gainsboro;
}
.button-danger:hover {
  background-color: gainsboro;
  color: blue;
}
.button-default:hover {
  background-color: aliceblue;
  color: blue;
}
.butten-success:hover {
  background-color: aliceblue;
  color: blue;
}

.button-success-outline {
  background-color: white;
  border-color: blue;
  color: blue;
}
